<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://kit.fontawesome.com/99a633ec0f.js" crossorigin="anonymous"></script>
    <title>Products</title>
</head>







<body class="products">
    <div class="box-container">




            <div class="box">

                <div class="image">
                  
                    <img src="/images/juguetes/21817.webp" alt="">

                </div> <!-- image -->
                <div class="info">
                    <a href=""><h3 class="title">Pinball</h3></a>
                    <div class="subInfo">
                        <div class="price">$5600/- <span>$6700</span></div>
                        
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                        
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"  class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->






            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/42506ca3335dad052035d6035cfceaf3.jpg" alt="">

                </div> <!-- image -->
                <div class="info">
                    <a href=""><h3 class="title">Celu musical</h3></a>
                    <div class="subInfo">
                        <div class="price">$1600/- <span>$2100</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"  class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->




            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/552fdfba-816b-4e47-be8b-c9d4ffc2afa5.jpg" alt="">

                </div> <!-- image -->
                <div class="info">
                    <a href=""><h3 class="title">Figuras</h3></a>
                    <div class="subInfo">
                        <div class="price">$1400/- <span>$2700</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"  class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->

            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/__57_2.jpg" alt="">

                </div> <!-- image -->
                <div class="info">
                    <a href=""><h3 class="title">Mc Stuffins Dra Juguetes</h3></a>
                    <div class="subInfo">
                        <div class="price">$7600/- <span>$9700</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"  class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->






            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/adivina.jpg" alt="">

                </div> <!-- image -->
                <div class="info">
                    <a href=""><h3 class="title">Adivina quien</h3></a>
                    <div class="subInfo">
                        <div class="price">$2900/- <span>$3500</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"  class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->




            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/ajedrez.jpg" alt="">

                </div> <!-- image -->
                <div class="info">
                    <a href=""><h3 class="title">AJEDREZ</h3></a>
                    <div class="subInfo">
                        <div class="price">$5500/- <span>$6700</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>

                        </div>
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"  class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->





            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/alfombramusical.jpg" alt="">

                </div> <!-- image -->
                <div class="info">
                    <a href=""><h3 class="title">Alfombra musical</h3></a>
                    <div class="subInfo">
                        <div class="price">$11.500/- <span>$15.700</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"  class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->






            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/basta.jpg" alt="">

                </div> <!-- image -->
                <div class="info">
                    <a href=""><h3 class="title">BASTA</h3></a>
                    <div class="subInfo">
                        <div class="price">$4600/- <span>$5600</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"  class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->






            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/bebeconcoche.jpg" alt="">

                </div> <!-- image -->
                <div class="info">
                    <a href=""><h3 class="title">Bebote con cochecito</h3></a>
                    <div class="subInfo">
                        <div class="price">$6400/- <span>$9700</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"  class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->






            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/cars.webp" alt="">

                </div> <!-- image -->
                <div class="info">
                    <a href=""><h3 class="title">Cars - Rayo McQueen</h3></a>
                    <div class="subInfo">
                        <div class="price">$5600/- <span>$7700</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"  class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->







            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/cincosegundos.jpg" alt="">

                </div> <!-- image -->
                <div class="info">
                    <a href=""><h3 class="title">Cinco segundos</h3></a>
                    <div class="subInfo">
                        <div class="price">$4600/- <span>$5700</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"  class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->





            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/cochecito.jpg" alt="">

                </div> <!-- image -->
                <div class="info">
                    <a href=""><h3 class="title">Cochecito Babysit</h3></a>
                    <div class="subInfo">
                        <div class="price">$15.600/- <span>$17.700</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"  class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->






            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/cocinita.jpg" alt="">

                </div> <!-- image -->
                <div class="info">
                    <a href=""><h3 class="title">Cocinita - Miniland</h3></a>
                    <div class="subInfo">
                        <div class="price">$2600/- <span>$3700</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"  class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->






            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/conect4.jpg" alt="">

                </div> <!-- image -->
                <div class="info">
                    <a href=""><h3 class="title">Conecta cuatro</h3></a>
                    <div class="subInfo">
                        <div class="price">$5600/- <span>$7700</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"  class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->








            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/D_NQ_NP_779185-MCO41830711120_052020-V.jpg" alt="">

                </div> <!-- image -->
                <div class="info">
                    <a href=""><h3 class="title">Triciclo rosa</h3></a>
                    <div class="subInfo">
                        <div class="price">$9.600/- <span>$10.700</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"  class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->





            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/dinosaurios.jpg" alt="">

                </div> <!-- image -->
                <div class="info">
                    <a href=""><h3 class="title">Dinosaurios</h3></a>
                    <div class="subInfo">
                        <div class="price">$2200/- <span>$3500</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"  class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->






            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/formas.webp" alt="">

                </div> <!-- image -->
                <div class="info">
                    <a href=""><h3 class="title">Formitas</h3></a>
                    <div class="subInfo">
                        <div class="price">$2200/- <span>$3500</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"  class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->






            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/generala.jpg" alt="">

                </div> <!-- image -->
                <div class="info">
                    <a href=""><h3 class="title">Generala</h3></a>
                    <div class="subInfo">
                        <div class="price">$2200/- <span>$3500</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"  class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->




            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/giratorio.jpg" alt="">

                </div> <!-- image -->
                <div class="info">
                    <a href=""><h3 class="title">Calesita</h3></a>
                    <div class="subInfo">
                        <div class="price">$15.200/- <span>$17.500</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"  class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->






            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/hamaca.jpg" alt="">

                </div> <!-- image -->
                <div class="info">
                    <a href=""><h3 class="title">Hamaca</h3></a>
                    <div class="subInfo">
                        <div class="price">$19.200/- <span>$20.500</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"  class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->






            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/jenga.jpg" alt="">

                </div> <!-- image -->

                <div class="info">
                    <a href=""><h3 class="title">Jenga</h3></a>
                    <div class="subInfo">
                        <div class="price">$4200/- <span>$5500</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div> <!-- stars -->
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"  class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->





            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/jumanji.jpg" alt="">

                </div> <!-- image -->

                <div class="info">
                    <a href=""><h3 class="title">Jumanji</h3></a>
                    <div class="subInfo">
                        <div class="price">$4000/- <span>$4500</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div> <!-- stars -->
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"  class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->







            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/lego1.jpg" alt="">

                </div> <!-- image -->

                <div class="info">
                    <a href=""><h3 class="title">Lego Baby Joda</h3></a>
                    <div class="subInfo">
                        <div class="price">$7200/- <span>$8500</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div> <!-- stars -->
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"  class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->






            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/lego2.jpg" alt="">

                </div> <!-- image -->

                <div class="info">
                    <a href=""><h3 class="title">Lego city</h3></a>
                    <div class="subInfo">
                        <div class="price">$4200/- <span>$4500</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div> <!-- stars -->
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"   class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->







            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/lego3.jpg" alt="">

                </div> <!-- image -->

                <div class="info">
                    <a href=""><h3 class="title">Lego Harry Potter</h3></a>
                    <div class="subInfo">
                        <div class="price">$5200/- <span>$5500</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div> <!-- stars -->
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"   class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->








            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/lego4.jpg" alt="">

                </div> <!-- image -->

                <div class="info">
                    <a href=""><h3 class="title">Lego creator</h3></a>
                    <div class="subInfo">
                        <div class="price">$8200/- <span>$8500</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div> <!-- stars -->
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"   class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->






            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/monopoly.jpg" alt="">

                </div> <!-- image -->

                <div class="info">
                    <a href=""><h3 class="title">Monopoly</h3></a>
                    <div class="subInfo">
                        <div class="price">$5300/- <span>$6500</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div> <!-- stars -->
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"   class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->






            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/monopoly.webp" alt="">

                </div> <!-- image -->

                <div class="info">
                    <a href=""><h3 class="title">Monopoly</h3></a>
                    <div class="subInfo">
                        <div class="price">$8200/- <span>$8500</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div> <!-- stars -->
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"   class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->






            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/muro.webp" alt="">

                </div> <!-- image -->

                <div class="info">
                    <a href=""><h3 class="title">Break Out</h3></a>
                    <div class="subInfo">
                        <div class="price">$2200/- <span>$3500</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div> <!-- stars -->
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"   class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->







            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/muñeca ripley.webp" alt="">

                </div> <!-- image -->

                <div class="info">
                    <a href=""><h3 class="title">Muñeca Ripley</h3></a>
                    <div class="subInfo">
                        <div class="price">$7200/- <span>$7500</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div> <!-- stars -->
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"   class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->







            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/nenuco.jpg" alt="">

                </div> <!-- image -->

                <div class="info">
                    <a href=""><h3 class="title">Nenuco</h3></a>
                    <div class="subInfo">
                        <div class="price">$4200/- <span>$4500</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div> <!-- stars -->
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"   class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->





            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/operando.jpg" alt="">

                </div> <!-- image -->

                <div class="info">
                    <a href=""><h3 class="title">Operando</h3></a>
                    <div class="subInfo">
                        <div class="price">$2200/- <span>$3500</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div> <!-- stars -->
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"   class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->




            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/piano.jpg" alt="">

                </div> <!-- image -->

                <div class="info">
                    <a href=""><h3 class="title">Piano de granja</h3></a>
                    <div class="subInfo">
                        <div class="price">$3600/- <span>$4200</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div> <!-- stars -->
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"   class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->





            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/pistaautos.jpg" alt="">

                </div> <!-- image -->

                <div class="info">
                    <a href=""><h3 class="title">Pista de autos</h3></a>
                    <div class="subInfo">
                        <div class="price">$7700/- <span>$8500</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div> <!-- stars -->
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"   class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->






            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/plastilina.jpg" alt="">

                </div> <!-- image -->

                <div class="info">
                    <a href=""><h3 class="title">Play-dooh plastilina</h3></a>
                    <div class="subInfo">
                        <div class="price">$3200/- <span>$4500</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div> <!-- stars -->
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"   class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->






            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/preguntados.jpg" alt="">

                </div> <!-- image -->

                <div class="info">
                    <a href=""><h3 class="title">Preguntados</h3></a>
                    <div class="subInfo">
                        <div class="price">$5400/- <span>$6100</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div> <!-- stars -->
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"   class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->




            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/ripleyexterior.jpg" alt="">

                </div> <!-- image -->

                <div class="info">
                    <a href=""><h3 class="title">Ripley toboganes</h3></a>
                    <div class="subInfo">
                        <div class="price">$18.200/- <span>$20.500</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div> <!-- stars -->
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"   class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->




            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/subeybaja.webp" alt="">

                </div> <!-- image -->

                <div class="info">
                    <a href=""><h3 class="title">Sube y baja</h3></a>
                    <div class="subInfo">
                        <div class="price">$6.200/- <span>$8.500</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div> <!-- stars -->
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"   class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->






            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/taboo.jpeg" alt="">

                </div> <!-- image -->

                <div class="info">
                    <a href=""><h3 class="title">Taboo</h3></a>
                    <div class="subInfo">
                        <div class="price">$3800/- <span>$4500</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div> <!-- stars -->
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"   class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->




            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/tobogn.jpg" alt="">

                </div> <!-- image -->

                <div class="info">
                    <a href=""><h3 class="title">Tobogan</h3></a>
                    <div class="subInfo">
                        <div class="price">$12.200/- <span>$13.500</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div> <!-- stars -->
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"   class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->






            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/twister.jpg" alt="">

                </div> <!-- image -->

                <div class="info">
                    <a href=""><h3 class="title">Twister</h3></a>
                    <div class="subInfo">
                        <div class="price">$6500/- <span>$7500</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div> <!-- stars -->
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"   class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->




            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/uno.jpg" alt="">

                </div> <!-- image -->

                <div class="info">
                    <a href=""><h3 class="title">Uno</h3></a>
                    <div class="subInfo">
                        <div class="price">$800/- <span>$1500</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div> <!-- stars -->
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"   class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->



            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/xilofono.webp" alt="">

                </div> <!-- image -->

                <div class="info">
                    <a href=""><h3 class="title">Xilófono</h3></a>
                    <div class="subInfo">
                        <div class="price">$5200/- <span>$5900</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div> <!-- stars -->
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"   class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->





            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/yoyo.jpg" alt="">

                </div> <!-- image -->

                <div class="info">
                    <a href=""><h3 class="title">YOYO</h3></a>
                    <div class="subInfo">
                        <div class="price">$2200/- <span>$3500</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div> <!-- stars -->
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"   class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->


            <div class="box">

                <div class="image">
                    <img src="/images/juguetes/yoyo.jpg" alt="">

                </div> <!-- image -->

                <div class="info">
                    <a href=""><h3 class="title">YOYO</h3></a>
                    <div class="subInfo">
                        <div class="price">$2200/- <span>$3500</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div> <!-- stars -->
                    </div> <!-- subinfo -->
                </div> <!-- info -->

                <div class="overlay">
                    <a href="#"  class="fa-solid fa-cart-shopping"></a>
                    <a href="#"   class="fa-solid fa-heart"></a>
                    <a href="#"  class="fa-solid fa-magnifying-glass"></a>


                </div>

            </div> <!-- box -->
    </div> <!-- box container -->

</body>

</html>